# =========================
# OS
# =========================
.DS_Store
**/.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Environments
# =========================
.env
.venv/
.envrc

# =========================
# RAG storage
# =========================
chroma/
.storage/
.cache/

# =========================
# Project data
# =========================
projects/**/data/raw/*
projects/**/data/processed/*
projects/**/data/embeddings/*

!projects/**/data/raw/.gitkeep
!projects/**/data/processed/.gitkeep
!projects/**/data/embeddings/.gitkeep

# =========================
# Metadata
# =========================
projects/**/data/metadata.xlsx
!projects/**/data/metadata_template.xlsx

# =========================
# Logs
# =========================
*.log
*.tmp
